<div class="container">
  <div class="col-md-6 mx-auto">
    <h2>Editing Book</h2>
    <%= render "layouts/errors", model: @book %>
    <div class="form-group">
      <%= form_with model: @book, local: true do |f| %>
        <div class="field">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.submit class: "btn btn btn-success" %>
      <% end %>
    </div>
    <div class="link">
      <p><%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %></p>
    </div>
  </div>
</div>